*{
    margin: 0px;
    padding: 0px;
}
.login-main-cnt{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-inp-main-cnt{
    width: 24%;
    display: flex;
    flex-direction: column;
    .inp-txt-main-cnt{
        width: 86%;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(202, 196, 196, 0.916);
        border-radius: 5px;
        padding-top: 30px;
        gap: 10px;
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 30px;
    }
}

.fundo-txt-cnt{
    color: orange;
    text-align: center;
    font-size: 17.5px;
    font-weight: 600;
}

.signin-txt-cnt{
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

.user-txt-cnt{
    text-align: center;
    font-size: 14.5px;
    font-weight: 400;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
    // height: 40px;
}


.pass-inp-cnt{
    display: flex;
    flex-direction: column;
    gap: 5px;
    p{
        font-size: 12.3px;
        color: rgb(59, 59, 235);
    }
}

.sub-cnt{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;
        font-size: 13px ;
    }
}
.login-extra-option-cnt{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.extra-option-txt-cnt{
    
    display: flex;
    flex-direction: row;
    gap :15px;
    /* width: 150px; */
}
.extra-option-txt-cnt p{
    font-size: 13px;
    color: rgb(110, 110, 110);
}
.extra-option-txt{
    margin-top: 0px;
}
.mySelect-inp{
    background-color: white;
    border: none;
    color: rgba(53, 52, 52, 0.986);;
}


@media only screen and (min-width:300px) and (max-width:599px) {
    .login-inp-main-cnt {
        width: 60%;
    }
    .login-inp-main-cnt .inp-txt-main-cnt {
        padding-top: 8px;
        padding-bottom: 9px;
        gap: 5px;
    }
    .fundo-txt-cnt {
        font-size: 14.5px;
    }
    .signin-txt-cnt{
        font-size: 16px;
    }
    .user-txt-cnt {
        font-size: 11.5px;
    }
    .sub-cnt{
        button{
            width: 40%;
            font-size: 10px;
        }
    }
    .login-extra-option-cnt {
        margin-top: 11px;
        flex-direction: column;
        gap: 5px
    }
    .extra-option-txt-cnt p {
        font-size: 12px;
    }
}

@media only screen and (min-width:600px) and (max-width:1000px) {
    .login-inp-main-cnt {
        width: 36%;
    }
    .login-inp-main-cnt .inp-txt-main-cnt {
        padding-top: 8px;
        padding-bottom: 9px;
        gap: 5px;
    }
    .fundo-txt-cnt {
        font-size: 14.5px;
    }
    .signin-txt-cnt{
        font-size: 16px;
    }
    .user-txt-cnt {
        font-size: 11.5px;
    }
    .sub-cnt{
        button{
            width: 40%;
            font-size: 10px;
        }
    }
    .login-extra-option-cnt {
        margin-top: 11px;
        gap: 5px
    }
    .extra-option-txt-cnt p {
        font-size: 12px;
    }
    .mySelect-inp {
        width: 100%;
    }
    .extra-option-txt-cnt {
        gap: 7px;
    }
}