.trash-main-cnt {
    width: 81.6%;
    display: flex;
    gap: 15px;
    padding: 75px 3% 50px 15.4%;
    flex-wrap: wrap;
}

@media only screen and (min-width:600px) and (max-width:1000px) {
    .trash-main-cnt{
        width: 89.7%;
        display: flex;
        gap: 25px;
        padding: 36px 3% 50px 7.4%;
    }
}

@media only screen and (min-width:300px) and (max-width:599px) {
    .trash-main-cnt{
        width: 89.7%;
        display: flex;
        gap: 25px;
        padding: 9px 3% 50px 9.4%;
    }
}